<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
        /* [v-cloak]{
            display: none;
        } */
    </style>
</head>

<body>
    <!--
    解决页面渲染时的闪动问题    
    <div id="app" v-cloak>
        {{username}}
    </div> -->


    <div id="app">
        <!-- v-pre指令跳过vue语法解析 -->
        <p v-pre>
            按手机的纳税款阿斯利康就得啦q0293890szx.dljnoiqwhed {{username}}
        </p>
        <!-- v-once指令让标签只渲染一次 -->
        <span v-once>
            {{num}}
        </span>

        <!-- v-show和v-if都可以隐藏元素,前者通过display:none来隐藏元素,后者删除元素 -->
        <p v-show="false">今天天气真好呀！</p>
        <p v-if="false">霾也是最新鲜的!</p>

        <!-- 组合判断 -->
        <p v-if="score>=90">优秀</p>
        <p v-else-if="score<90&&score>=70">良好</p>
        <p v-else-if="score<70&&score>=60">及格</p>
        <p v-else>不及格</p>

        <!-- 动态绑定属性的值 -->
        <!-- <a v-bind:href="url" v-bind:abc="num">百度</a> -->
        <!-- 简写形式 -->
        <a :href="url" :abc="num">百度</a>

        <!-- v-for 用来循环vue数据项中的数组或对象,写在需要重复渲染的标签上,使用v-for时必须要写上key属性 -->
        <ul>
            <li v-for="(item,index) in fruits" :key="index">{{item}} - {{index}}</li>
        </ul>

        <!-- 循环对象 -->
        <!-- <ul>
            <li v-for="item,key,index in user">{{item}} {{key}} {{index}}</li>
        </ul> -->


        <!-- 事件绑定 -->
        <!-- <button v-on:click="say">点我点我</button> -->
        <!-- 简写形式 -->
        <!-- vue事件显式的传递事件对象 -->
        <button @click="say(123,$event)">点我点我</button>


        <!-- 事件修饰符 -->
        <!-- .once只执行一次 -->
        <!-- <div @click.once="grandFather" style="width: 200px;height:200px;background: red;display: flex;justify-content: center;align-items: center;">
            <div @click="father" style="width: 100px;height:100px;background: green;display: flex;justify-content: center;align-items: center;">
                .stop阻止事件冒泡
                <div @click.stop="son" style="width: 50px;height:50px;background: grey;">
                     .prevent阻止默认行为 
                    <a href="https://www.baidu.com" @click.prevent="jump">嘿</a>
                </div>
            </div>
        </div> -->

        <!-- .self触发元素本身事件才可以执行事件函数 -->
        <!-- <ul @click.self="who" style="background: lightblue; width:200px;height:200px">
            <li>哈哈</li>
            <li>呵呵</li>
        </ul> -->

        <!-- 绑定键盘事件 -->
        <!-- <input type="text" @keydown="getKey" placeholder="请输入账户">
        <input type="text" @keydown="getKey" placeholder="请输入密码">
        <button @click="getKey">提交</button> -->

        <!-- 绑定组合键 -->
        <!-- <div @click.ctrl="getKey">测试键盘事件</div> -->

        <input @keyup.f2="getKey" value="aaaa">
    </div>

    <script>
        Vue.config.productionTip = false;
        Vue.config.keyCodes = {f2:113}
        // setTimeout(() => {
        //     new Vue({
        //         el: "#app",
        //         data: {
        //             username: "zhangsan"
        //         }
        //     })
        // }, 1000)

        var app=new Vue({
            el: "#app",
            data: {
                username: "zhangsan",
                num:100,
                score:50,
                url:"https://www.qq.com",
                fruits:[
                    "苹果",
                    "橘子",
                    "香蕉"
                ],
                user:{
                    username:"zhangsan",
                    age:20
                }
            },
            methods:{
                say:function(param,e){
                    console.log(param);
                    console.log(e);
                },
                son:function(e){
                    // e.stopPropagation()
                    console.log("我是儿子");
                },
                father:function(){
                    console.log("我是爹");
                },
                grandFather:function(){
                    console.log("爷爷在此！");
                },
                jump:function(e){
                    // e.preventDefault();
                    alert("走你")
                },
                who:function(e){
                    console.log(e);
                },
                getKey:function(e){
                    console.log(e);
                }
            }
        })
        
        setTimeout(()=>{
            app.num=200;
        },1000)


        
    </script>
</body>

</html>